@media (min-width: 400px) and (max-width: 799px) {


    .one {
        font-size: 145px;
        background-color: blue;
    }

    .more {
        font-size: 130px;
    }

    .date {
        font-size: 128px;
    }


    h1 {
        font-size: 3em;
    }

    img {
        width: 90vw;
    }

    .inner-menu-container {
        height: 100vh;
        display: flex;
        align-items: center;
        flex-direction: column;
        margin: 0 auto;
        width: 70vw;
    }

    .modal-bg {
        background-color: rgba(255, 192, 203, 0.5);
        opacity: .8;
        width: 95%;
        height: 100%;
        margin: 0 auto;
    }

    .container-players {
        width: 65vw;
    }


    .menu-start-btn {
        position: absolute;
        width: 85vw;
        top: 68%;
    }

    .menu-rules-btn {
        position: absolute;
        width: 85vw;
        top: 78%;
    }


    .players-btn {
        width: 70px;
        height: 70px;
    }


    /* 10.3 InputPlayerNames:*/


    .names-header {
        padding: 1%;
        color: white;
        font-size: 2.5rem;
    }

    .player-names-header {
        color: black;
        position: absolute;
        width: 100%;
        background-image: radial-gradient(100% 100% at 100% 0, #FF6FCF 0, #FF1DA5 100%);
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .done-btn {
        height: 80%;
        color: white;
        width: 55px;
        display: flex;
        border-radius: 5px;
        justify-content: center;
        align-items: center;
        background-image: radial-gradient(100% 100% at 100% 0, #FF6FCF 0, #FF1DA5 100%);
    }

    .done-btn-disabled {
        height: 80%;
        color: white;
        width: 55px;
        display: flex;
        border-radius: 5px;
        justify-content: center;
        align-items: center;
        cursor: not-allowed;
        background-color: #6c757d;
    }

    .add-btn {
        margin-right: 2%;
        margin-left: 2%;
        color: white;
        width: 55px;
        border-radius: 5px;
        background-image: radial-gradient(100% 100% at 100% 0, #FF6FCF 0, #FF1DA5 100%);
        display: flex;
        justify-content: center;
        align-items: center;
        height: 80%;
    }

    .add-btn-disabled {
        margin-right: 2%;
        margin-left: 2%;
        color: white;
        background-color: #6c757d;
        width: 70px;
        border-radius: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 80%;
    }

    .input-container {
        width: 100vw;
        display: flex;
        background-color: gray;
        position: fixed;
        bottom: 0%;
        z-index: 1000;
        height: 70px;
        justify-content: start;
        align-items: center;
    }


    .name-input {
        width: 80%;
        height: 80%;
        font-size: 1rem;
    }


    .name-p {
        font-size: 1.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 2%;
        border-radius: 20px;
        color: white;
        background-image: radial-gradient(100% 100% at 100% 0, #FF6FCF 0, #FF1DA5 100%);
    }


    .remove-btn {
        width: 40px;
        height: 40px;
        margin: 2%;
        border-radius: 10px;
        color: white;
        background-image: radial-gradient(100% 100% at 100% 0, #FF6FCF 0, #FF1DA5 100%);
        display: flex;
        justify-content: center;
        align-items: center;
    }

    /* 10.3 GoBackButton*/

    .back-btn {
        position: absolute;
        left: 1%;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .custom-margin {
        margin-bottom: 70%;
    }

    .navigate-btn-container {
        margin: 1%;
        position: absolute;
        z-index: 1;
        width: 100%;
        top: 5px;
    }

    .back-button-svg {
        width: 40%;
    }


    /* Select Deck */

    .p-text {
        font-size: 25px;
        line-height: 35px;
    }

    .deck-modal-header {
        font-size: 45px;
    }
}
