
@media (min-width: 800px) and (max-width: 1199px) {


    .one {
        background-color: purple;
        font-size: 200px;
    }

    .more {
        font-size: 180px;
    }

    .date {
        font-size: 180px;
    }

    .menu-start-btn {
        position: absolute;
        width: 80vw;
        top: 70%;
    }

    .menu-rules-btn {
        position: absolute;
        width: 80vw;
        top: 78%;
    }


    .players-btn {
        width: 70px;
        height: 70px;
    }

    .inner-menu-container {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        margin: 0 auto;
        width: 70vw;
        height: 100%;
    }

    /*InputPlayerNames*/

    .names-header {
        padding: 1%;
        color: white;
        font-size: 4rem;
    }

    .player-names-header {
        color: black;
        position: absolute;
        width: 100%;
        background-image: radial-gradient(100% 100% at 100% 0, #FF6FCF 0, #FF1DA5 100%);
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .done-btn {
        height: 80%;
        color: white;
        width: 70px;
        display: flex;
        border-radius: 5px;
        justify-content: center;
        align-items: center;
        background-image: radial-gradient(100% 100% at 100% 0, #FF6FCF 0, #FF1DA5 100%);
    }

    .done-btn-disabled {
        height: 80%;
        color: white;
        width: 70px;
        display: flex;
        border-radius: 5px;
        justify-content: center;
        align-items: center;
        cursor: not-allowed;
        background-color: #6c757d;
    }

    .add-btn {
        margin-right: 2%;
        margin-left: 2%;
        color: white;
        width: 70px;
        border-radius: 5px;
        background-image: radial-gradient(100% 100% at 100% 0, #FF6FCF 0, #FF1DA5 100%);
        display: flex;
        justify-content: center;
        align-items: center;
        height: 80%;
    }

    .add-btn-disabled {
        margin-right: 2%;
        margin-left: 2%;
        color: white;
        width: 70px;
        border-radius: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 80%;
        background-color: #6c757d;
    }

    .input-container {
        width: 100vw;
        display: flex;
        background-color: gray;
        position: fixed;
        bottom: 0%;
        z-index: 1000;
        height: 100px;
        justify-content: start;
        align-items: center;
    }


    .name-input {
        width: 80%;
        height: 80%;
        font-size: 2rem;
    }


    .name-p {
        font-size: 2.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 2%;
        border-radius: 20px;
        color: white;
        background-image: radial-gradient(100% 100% at 100% 0, #FF6FCF 0, #FF1DA5 100%);
    }


    .remove-btn {
        width: 55px;
        height: 55px;
        margin: 2%;
        border-radius: 10px;
        color: white;
        background-image: radial-gradient(100% 100% at 100% 0, #FF6FCF 0, #FF1DA5 100%);
        display: flex;
        justify-content: center;
        align-items: center;
    }

    /*GoBackButton*/
    .back-btn {
        position: absolute;
        left: 1%;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 60px;
        height: 60px;
    }

    .custom-margin {
        margin-bottom: 70%;
    }

    .navigate-btn-container {
        margin: 1%;
        position: absolute;
        z-index: 1;
        width: 100%;
        top: 5px;
    }

    .back-button-svg {
        width: 70%;
    }

    .back-btn-no-background {
        margin-top: 3%;
        position: fixed;
        z-index: 2;
    }


    .back-btn-no-background-svg {
        width: 55px;
    }



    /*deck-modal*/
    .p-text {
        font-size: 30px;
        line-height: 40px;
    }

    .deck-modal-header {
        font-size: 60px;
        font-family: "Playwrite SK";
    }

    .deck-modal-inner-container {
        display: flex;
        height: 90%;
        flex-direction: column;
        align-items: center;
        text-align: justify;
        line-height: 20px;
        position: relative; /* Viktigt för att hålla den ovanför övertoningen */
        z-index: 1000;
        margin: 0 auto;
    }

    .deck-modal {
        position: fixed;
        width: 85%;
        height: 80%;
        top: 50%;
        border-radius: 35px;
        left: 50%;
        transform: translate(-50%, -50%);
        background-image: radial-gradient(100% 100% at 100% 0, #FF6FCF 0, #FF1DA5 100%);
        z-index: 1000;
    }

    .modal-btn {
        position: absolute;
        bottom: 8%;
        width: 80%;
        background-color: rgba(180, 29, 100, 0.7);
        border-radius: 30px;
        font-size: 25px;
        padding: 5%;
        font-weight: bold;
    }

    .modal-font {
        font-family: "Poppins";
    }


    .deckmodal-outer-container {
        width: 100%;
        height: 100%;
        position: absolute;
    }

    .deck-modal-text-container {
        position: absolute; /* Absolut positionering för att använda top, left, transform */
        top: 45%; /* Flytta 50% från toppen av förälderelementet */
        left: 50%; /* Flytta 50% från vänster av förälderelementet */
        transform: translate(-50%, -50%); /* Flytta tillbaka 50% av elementets egna höjd och bredd */
        width: 80%;
    }
}
