


@media (min-width: 400px) and (max-width: 799px) {

    /* Home -------------------------*/


    .oval-frame {
      
        top: 5%;
     
       
    }

    .home-img {
  
        height:95%;
      
     
 
    }

    .menu-how-to-play-btn{
        color: green;
    }


   
    /* Inputplayernames---------------------*/
   
