﻿ /* 1. Globala stilar ---------------------------*/
html,body {
    background: #FCDDDD;
    width: 100vw;
    overflow:hidden;
    margin:0;
    padding:0;

}



h1 {
    margin: 0; /* Ta bort standardmarginal */
    padding: 0; /* Ta bort standardpadding */
    border: none; /* Ta bort eventuell border */
    outline: none; /* Ta bort eventuell outline */
    box-shadow: none; /* Ta bort eventuell box-shadow */
    text-decoration: none; /* Ta bort eventuell text-dekoration */
}



h1, h3, h2, h5, li, h6, h4, p 
{
    font-family: "Poppins";
}



button {
    border: none;
    font-family: "Poppins";
}


.button-29 {
    text-shadow: 4px 4px 8px rgba(0, 0, 0, 1);
    align-items: center;
   
    background: rgb(241,13,128);
    background: linear-gradient(0deg, rgba(241,13,128,1) 0%, rgba(246,72,168,1) 5%, rgba(251,37,123,1) 92%);
   border:none;
    border-radius: 30px;

    color: #fff;
   
    display: flex;
    justify-content: center;

    font-size: 15px;
    font-family: "Poppins";
    font-weight: 400;
}


