
/* Innehållsförteckning: 

    1. Globala stilar (gäller överallt)
    2. Home
    3. Menu
    4. PlayerSelection  -BORTTAGEN -
    5. InputplayerNames
    6. selectDeck
    7. ShowCards
    8.. För surfplattor och större 


 /* 1. Globala stilar ---------------------------*/

body {
    background-color: #FFF0F4; 

}


h1 {

    margin: 0; /* Ta bort standardmarginal */
    padding: 0; /* Ta bort standardpadding */
    border: none; /* Ta bort eventuell border */
    outline: none; /* Ta bort eventuell outline */
    box-shadow: none; /* Ta bort eventuell box-shadow */
    text-decoration: none; /* Ta bort eventuell text-dekoration */
}

.clear-font 
{
    font-family: 'Afacad';
    font-size: 1.2rem;
}



input 
{

    width: 100vw;
}

button {
    font-family: 'MuseoModerno';
    font-size: 1.7rem;
    border: none;
}

.button-color {
    /* 
    background: rgb(255,192,203);
    background: linear-gradient(0deg, rgba(255,192,203,1) 0%, rgba(220,124,192,1) 100%); */

    /*background: rgb(247,2,122);
    background: linear-gradient(0deg, rgba(247,2,122,0.6834383411567753) 0%, rgba(235,125,195,0.6694327389158788) 100%);*/


}


h1, h3, h2, h5, li, h6, h4 {
    font-family: 'Afacad';
    font-weight: lighter;
}

/* 2. Home ----------------------------------------------------*/

img {

      
    width: 85%;
    height: auto;
    /* Automatisk höjd för att behålla bildens proportioner */
}

.outer-container {
    
    position:absolute;
    top:12%;
    background-color: #FFF0F4;
    position: absolute;
    z-index: -1;
    height:100%;
    


    /* Placerar elementet 15% från toppen av dess närmaste positionerade parent */
}

.inner-container {
  
    overflow: hidden;
    /* Döljer innehåll som överskrider containerens gränser */
    width: 100vw;
    height: min-content;
    /* Sätter höjden till det minsta innehållet som behövs för att passa in allt */
    display: flex;
    text-align: right;
    flex-direction: column;
}

.image-container {

    display: flex;
    justify-content: center;
    align-items:center; 
    background-color: #FFF0F4;
}

.outer-image-container {
 
    position:absolute;
    background-color: #FFF0F4;
    /*    position: absolute;*/
    /* Positionerar elementet absolut relativt till närmaste positionerade parent */
    width: 100vw;
    /* Sätter bredden till 100% av viewportens bredd */
    /*  top: 28%;*/
    /* Placerar elementet 30% från toppen av dess närmaste positionerade parent*/
    z-index: -1;
    /* Sätter z-index till -1 så att elementet hamnar bakom andra element med högre z-index */
}

.one {
    /* Ta bort eventuell border */
    outline: none; /* Ta bort eventuell outline */
    box-shadow: none; /* Ta bort eventuell box-shadow */
    text-decoration: none; /* Ta bort eventuell text-dekoration */
    font-family: "Nanum Myeongjo", serif;
    margin-left: 15%;
    padding: 0%;
    font-weight: 100;
}

.more {
    position:relative;
    margin-top: 3%;
    /* Sätter en bottenmarginal på 79% av elementets bredd */
    font-family: "Nanum Myeongjo", serif;
    text-align: right;
    margin-right: 5%;
    font-weight: 100;
   bottom:22%;
}



.date {
    position:relative;
    font-family: "Playwrite SK", cursive;
    color: #FF1DA5;
    position: absolute;
    /* Positionerar elementet absolut relativt till närmaste positionerade parent */
    top: 50%;
    /* Placerar elementet 55% från toppen av dess närmaste positionerade parent */
    text-align: center;
    width: 100%;
    font-size: 100px;
 
}

.fade-out {
    opacity: 1;
    /* Startar med full opacitet */
    animation: fadeOut 4s ease 5s forwards;
    /* Använder en fadeOut-animation som varar 4 sekunder, börjar efter 5 sekunder, och körs framåt */
}

@keyframes fadeOut {
    0% {
        opacity: 1;
        /* Full opacitet vid början av animationen */
    }

    100% {
        opacity: 0;
        /* Ingen opacitet (helt genomskinlig) vid slutet av animationen */
    }
}

.fade-out-after-animations {
    animation: fadeOutAfter 8s forwards;
}

@keyframes fadeOutAfter {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.fade-in {
    opacity: 0;
    /* Börjar med ingen opacitet (helt genomskinlig) */
    animation: fadeIn 4s ease 5s forwards;
    /* Använder en fadeIn-animation som varar 4 sekunder, börjar efter 5 sekunder, och körs framåt */
}

.fade-in-btns {
    opacity: 0;
    /* Börjar med ingen opacitet (helt genomskinlig) */
    animation: fadeIn 6s ease 2s forwards;
 
}



@keyframes fadeIn {
    0% {
        opacity: 0;
        /* Ingen opacitet (helt genomskinlig) vid början av animationen */
    }

    100% {
        opacity: 1;
        /* Full opacitet vid slutet av animationen */
    }
}
/* 3. Menu -----------------------------------------------------*/

.outer-btn-container {
    background: rgb(195,34,126);
    background: linear-gradient(0deg, rgba(195,34,126,0.14002097420999648) 0%, rgba(253,45,178,0.030777276731004943) 100%);
    position: absolute;
    height: 100%;
    width: 100%;
}

.menu-start-btn {

    height: 70px;
     width: 100%;
    border-radius: 6%;   
  
}

.menu-rules-btn {
    margin-top: 5%;
    height: 70px;
    border-radius: 6%;
    width: 100%;
}

.modal-bg {
  
    opacity: .8;
    width: 85%;
    height: 40%; 
    margin: 0 auto;
    margin-bottom: 20%;  
}

.inner-menu-container {
    width: 100%;
    margin-top: 50%;
    height: 100%;
    display: flex;
    justify-content: center; 

    flex-direction: column;

}

/* 4. PlayerSelection --------------------------------*/




/* 5. InputPlayerNames------------------------------------*/






/* 6. SelectDeck ---------------------------*/

.my-decks-container {
    padding: 3%;
    width: 90%;
    margin: 0 auto;

}

.img-smaller {
    max-width: 60%;
    height: auto;
    border-radius: 10px;
}

.select-deck-img {
    width: 25%;
    border-radius: 50%;
}

.select-deck-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 8%;
  
    border-radius: 10%;
}

.back-btn {
    width: 35px;
    border-radius: 50%;
}

.deck-modal-inner-container{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    text-align:center;
    padding:2%;
    line-height:30px;
}
.deck-modal-btn-container{
    display:flex;
    justify-content:end;
    padding:5%;
   
}

/* 6. Game */

.my-show-cards-container
{
    border: 2px solid red;
    width: 100vw;
    height: 100vh; 
   
    display:flex;
    justify-content:center;
    align-items:center;
 
}

.yes-btn, .no-btn {
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

/* 7. Previous Card */


@keyframes fadeInPrevious {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.fade-in-previous
{
    opacity: 0; 
    animation: fadeInPrevious 1s forwards;
}

.delay-1s 
{
    animation-delay: 1s;
}

.delay-2s 
{
    animation-delay: 2s;
}

.delay-3s 
{
    animation-delay: 3s;
}

.delay-4s {
    animation-delay: 4s;
}

.delay-5s {
    animation-delay: 5s;
}

.delay-6s {
    animation-delay: 6s;
}

.delay-7s {
    animation-delay: 7s;
}

.delay-8s {
    animation-delay: 8s;
}

.delay-9s {
    animation-delay: 9s;
}

.delay-10s {
    animation-delay: 10s;
}



/* 8. för surfplattor (och större) --------------------------*/


@media(min-width:650px) {



    .one {
        font-size: 200px;
    }

    .more {
        font-size: 180px;
    }

    .date {
        font-size: 180px;
    }
}



@media (min-width: 200px) and (max-width: 650px) {

    .outer-container
    {
       
    }
    .one {
        font-size: 150px;
        background-color: blue;
    }

    .more {
        font-size: 130px;
    }

    .date {
        font-size: 150px;
    }


    h1 /* Gör texten större */ {
        font-size: 3em;
    }

    img
    /* Gör alla bilder mindre! */ {
        width: 50vw;
    }

    .inner-menu-container
    /* Ge en marginal på sidorna */ {
        height: 100vh;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: stretch;
        margin: 0 auto;
        width: 70vw;
        margin-top: 30%;
    }

    .modal-bg
    /* Gör modalen större */ {
        background-color: rgba(255, 192, 203, 0.5);
        opacity: .8;
        width: 95%;
        height: 70%;
        margin: 0 auto;
    }

    .container-players {
        width: 65vw;
        /* Ge mindre plats för knapparna */
    }

    /* Mindre menu och rules knapp vid större skärm*/
    .menu-start-btn {
        /*/position: absolute;
        width: 70vw;
        top: 70%;*/
    }

    .menu-rules-btn {
        /* position: absolute;
        width: 70vw;
        top: 60%;*/
    }

    /* Större knappar */
    .players-btn {
        width: 70px;
        height: 70px;
    }
}



.button-29 {
    align-items: center;
    appearance: none;
    background-image: radial-gradient(100% 100% at 100% 0, #FF6FCF 0, #FF1DA5 100%);
    border: 0;
    border-radius: 6px;
    box-shadow: rgba(255, 29, 165, .6) 0 4px 6px, rgba(255, 29, 165, .5) 0 8px 16px -4px, rgba(255, 29, 165, .7) 0 -3px 0 inset, rgba(0, 0, 0, .1) 0 1px 0 inset;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: box-shadow .15s, transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow, transform;
    font-size: 30px;
}

    .button-29:focus {
        box-shadow: #FF1DA5 0 0 0 1.5px inset, rgba(255, 29, 165, .6) 0 4px 6px, rgba(255, 29, 165, .5) 0 8px 16px -4px, #FF1DA5 0 -3px 0 inset, rgba(0, 0, 0, .1) 0 1px 0 inset;
    }

    .button-29:hover {
        box-shadow: rgba(255, 29, 165, .6) 0 6px 10px, rgba(255, 29, 165, .5) 0 12px 20px -4px, #FF1DA5 0 -3px 0 inset, rgba(0, 0, 0, .1) 0 1px 0 inset;
        transform: translateY(-2px);
    }

    .button-29:active {
        box-shadow: #FF1DA5 0 3px 7px inset, rgba(0, 0, 0, .2) 0 1px 3px inset;
        transform: translateY(2px);
    }
