

/* Innehållsförteckning: 

    2) Home
    3) Menu
    4) PlayerSelection  -BORTTAGEN -
    5) InputplayerNames
    6) selectDeck
    7) Game
    8) Previous Cards
    9) startgame animation


/* 2. Home ----------------------------------------------------*/
img {
    width: 85%;
    /* Automatisk höjd för att behålla bildens proportioner */
}

.outer-container {
    position: absolute;
    z-index: -1;
    height: 100vh;
    width: 100vw;
}

.inner-container {
  
    overflow: hidden;
    /* Döljer innehåll som överskrider containerens gränser */
    width: 100vw;
 
    /* Sätter höjden till det minsta innehållet som behövs för att passa in allt */
    display: flex;
    text-align: right;
    flex-direction: column;
}

.image-container {
   
    display: flex;
    justify-content: center;
    align-items:center; 
   
}

.outer-image-container {
    position: absolute;

    /*    position: absolute;*/
    /* Positionerar elementet absolut relativt till närmaste positionerade parent */
    width: 100vw;
    height:100vh;
    /* Sätter bredden till 100% av viewportens bredd */
    /*  top: 28%;*/
    /* Placerar elementet 30% från toppen av dess närmaste positionerade parent*/
    z-index: -1;
    /* Sätter z-index till -1 så att elementet hamnar bakom andra element med högre z-index */
}

.one {
    /* Ta bort eventuell border */
    outline: none; /* Ta bort eventuell outline */
    box-shadow: none; /* Ta bort eventuell box-shadow */
    text-decoration: none; /* Ta bort eventuell text-dekoration */
    font-family: "Nanum Myeongjo", serif;
    margin-left: 20%;
    padding: 0%;
    font-weight: 100;
    font-size:120px;
    background-color:green;
  margin-top:40%;
}

.more {
    position:relative;
    margin-top: 3%;
    /* Sätter en bottenmarginal på 79% av elementets bredd */
    font-family: "Nanum Myeongjo", serif;
    text-align: right;
    margin-right: 5%;
    font-weight: 100;
   bottom:22%;
   font-size:100px;
}



.date {
    position:relative;
    font-family: "Playwrite SK", cursive;
    color: #FF1DA5;
    position: absolute;
    /* Positionerar elementet absolut relativt till närmaste positionerade parent */
    top: 75%;
    /* Placerar elementet 55% från toppen av dess närmaste positionerade parent */
    text-align: center;
    width: 100%;
    font-size: 100px;
 
}

.fade-out {
    opacity: 1;
    /* Startar med full opacitet */
    animation: fadeOut 4s ease 5s forwards;
    /* Använder en fadeOut-animation som varar 4 sekunder, börjar efter 5 sekunder, och körs framåt */
}

@keyframes fadeOut {
    0% {
        opacity: 1;
        /* Full opacitet vid början av animationen */
    }

    100% {
        opacity: 0;
        /* Ingen opacitet (helt genomskinlig) vid slutet av animationen */
    }
}

.fade-out-after-animations 
{
    animation: fadeOutAfter 8s forwards;
}

@keyframes fadeOutAfter {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.fade-in {
    opacity: 0;
    /* Börjar med ingen opacitet (helt genomskinlig) */
    animation: fadeIn 4s ease 5s forwards;
    /* Använder en fadeIn-animation som varar 4 sekunder, börjar efter 5 sekunder, och körs framåt */
}

.fade-in-btns {
    opacity: 0;
    /* Börjar med ingen opacitet (helt genomskinlig) */
    animation: fadeIn 6s ease 2s forwards;
   
}



@keyframes fadeIn {
    0% {
        opacity: 0;
        /* Ingen opacitet (helt genomskinlig) vid början av animationen */
    }

    100% {
        opacity: 1;
        /* Full opacitet vid slutet av animationen */
    }
}
/* 3. Menu -----------------------------------------------------*/
.oval-frame {
    width: 100%; /* Justera bredden efter behov */
    height: 70vh; /* Justera höjden efter behov */
    top:4%;
    border-top-left-radius: 170px;  
    border-top-right-radius: 170px;  /**/
 
    position: absolute; /* Behövs för att positionera pseudo-elementet */
    overflow: hidden; /* För att dölja pseudo-elementet utanför ramen */
 
    background: rgba(241, 13, 128, 0.1);
 
    display:flex;
    justify-content:center;
    align-items:center;
  
}

.oval-frame-menu {
    width: 100%; /* Justera bredden efter behov */
    height: 70vh; /* Justera höjden efter behov */
   
    border-top-left-radius: 170px;
    border-top-right-radius: 170px; /**/

    position: absolute; /* Behövs för att positionera pseudo-elementet */
    overflow: hidden; /* För att dölja pseudo-elementet utanför ramen */

    background: rgba(241, 13, 128, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20%;
}

    .oval-frame img {
        opacity: 1; /* Återställer opacity för bilden till full opacity */
        /* Eventuella andra stilar för bilden */
    }


    .table-image-new
    {
        width:100%;
        
        
    }






.circle-frame {
    width: 150%;
    height: 250px;
    border-radius: 90% 90% 0 0; /* Runda endast de övre hörnen */
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    clip-path: inset(0px 0px -10px 0px); /* Justera detta värde för att göra botten rak */
   
}

    
.outer-btn-container {

  
    position: absolute;
    height: 100%;
    width: 100%;
  
}

.menu-start-btn {
    height: 50px;
    width: 50%;
  
   position:relative;
   margin-bottom:10%;

    
   
}

.menu-rules-btn {
    margin-top: 5%;
    height: 50px;
    position: absolute;

    width: 50%;
    margin-bottom:10%;
    bottom:0%;
}

.modal-bg {
    opacity: .8;
    width: 85%;
    height: 40%;
    margin: 0 auto;
    margin-bottom: 20%;
}

.inner-menu-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;

    align-items:center;
  
}

/* 4.  --------------------------------*/
    /* 5. InputPlayerNames------------------------------------*/


    .background-image-container {

    position: absolute;
    width: 100%;
    height: 100%;
}
.name-input {
    border-radius: 20px;
    width: 80%;
}



.custom-color {
    border-color: white;
}

.input-container {
    width: 85vw;
    display: flex;
    padding: 2%;
   margin: 0 auto;
    z-index: 1000;
}



.name-container {
    display: flex;
    width: 80%;
    justify-content: space-between;
    align-items: center;

    margin: 0 auto;
}

.done-btn-svg{
    width:90%;
}

.done-btn {
    color: white;
    width: 42px;
    height: 42px;
    background-color: #FF1DA5;
   
    display: flex;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
}

.done-btn-disabled {
    color: white;
    width: 42px;
    height: 42px;
    border-radius: 50%;
    display: flex;
    opacity: .6;
    background-color: #FF1DA5;
    justify-content: center;
    align-items: center;
    cursor: not-allowed;
}



.name-p {
  
    font-size: 1.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2%;
    border-radius: 20px;
   
    color: black;
    background-color: white;
}

.add-btn-disabled {
    cursor: not-allowed;
    margin-right: 1%;
    color: white;
    height: 42px;
    margin-left: 1%;
    background-color: #FF1DA5;
    opacity: .6;
    width: 42px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.add-btn {
    width: 42px;
    height: 42px;
    margin-right: 1%;
    margin-left: 1%;
    border-radius: 50%;
    background-color: #FF1DA5;
    display: flex;
    justify-content: center;
    align-items: center;
}

.add-btn-svg{
    width:100%;
}



.remove-btn {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: #FF1DA5;
    display: flex;
    justify-content: center;
    align-items: center;
}


.outer-container-inputplayernames {
    width: 100vw;
    height: 100vh;
    position: absolute;
    background-color:orange;
   
}


.added-names-container {
    margin-top: 20%;
    z-index: 1;
    width: 100%;
    max-height: 70%;
    overflow-y: auto;
    position: absolute;
}

    .added-names-container::-webkit-scrollbar 
    {
        width: 12px; /* Width of the scrollbar */
        background-color: #FFF0F4;
    }

    .added-names-container::-webkit-scrollbar-track {
       background-color: #FFF0F4; /* Background of the scrollbar track */
    }

    .added-names-container::-webkit-scrollbar-thumb {
        background: #888; /* Color of the scrollbar thumb */
        border-radius: 10px; /* Rounding the scrollbar thumb */
    }

        .added-names-container::-webkit-scrollbar-thumb:hover {
         background-color: #FFF0F4;
             /* Color when hovering over the scrollbar thumb */
        }

.inner-name-container {
    width: 85%;
    
}

.names-header {

    padding:2%;
    color: white;
}


/* 6. SelectDeck ---------------------------*/

.deck-header {
   
    padding: 1%;
    margin-top: 2%;
    font-size: 1.8rem;
    width: 80%;
    color: white;
    border-radius: 20px;
    text-align:center;
}

.my-decks-container 
{
    padding: 3%;
    width: 90%;
    margin: 0 auto;
}

.fixed-back-btn 
{
    position: fixed;
    width: 55px;
    padding: 1%;
    left: 1%;
    top: 0;
    transform: translateY(-50%);
    z-index: 1000; /* Se till att knappen ligger över annat innehåll */
}

.img-smaller {
    max-width: 60%;
    height: auto;
    border-radius: 10px;
}

.select-deck-img {
    width: 25%;
    border-radius: 50%;
  
}

.select-deck-container 
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 8%;
    border-radius: 10%;
}

.overlay-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    z-index: 999; /* Säkerställ att den ligger ovanpå annat innehåll */
}


.deck-modal-btn-container{
    display:flex;
    justify-content:end;
    padding:5%;
   
}

/* DeckModal komponent */


.p-text 
{
    font-size: 17px;
    line-height:26px;
}

.deck-modal-header 
{
    font-size: 35px;

    font-family: "Playwrite SK";
}

.deck-modal-inner-container {
    display: flex;
    height: 90%;
    flex-direction: column;
 
    align-items: center;
    text-align: justify;

    line-height: 20px;
    position: relative; /* Viktigt för att hålla den ovanför övertoningen */
    z-index: 1000;
    margin: 0 auto;


}

.deck-modal {
    position: fixed;
    width: 85%;
    height: 70%;
    top: 50%;
    border-radius: 35px;
    left: 50%;
    transform: translate(-50%, -50%);

    z-index: 1000;
    
}

.modal-btn {
    position: absolute;
    bottom: 8%;
    width: 80%;
    background-color: rgba(180, 29, 100, 0.7);
    border-radius: 30px;
    font-size: 25px;
    padding: 5%;
    font-weight: bold;
}

.modal-font {
    font-family: "Poppins";
}


.deckmodal-outer-container {
    width: 100%;
    height: 100%;
    position: absolute;
}

.deck-modal-text-container {
    position: absolute; /* Absolut positionering för att använda top, left, transform */
    top: 45%; /* Flytta 50% från toppen av förälderelementet */
    left: 50%; /* Flytta 50% från vänster av förälderelementet */
    transform: translate(-50%, -50%); /* Flytta tillbaka 50% av elementets egna höjd och bredd */
    width:80%;
    
}
/* 7. Game */

.my-show-cards-container
{
    border: 2px solid red;
    width: 100vw;
 
    display:flex;
    justify-content:center;
    align-items:center;
 
}

.yes-btn, .no-btn {
    width: 70px;
    height: 70px;
    border-radius: 50%;
}


/* 8. Previous Card */


@keyframes fadeInPrevious {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.fade-in-previous
{
    opacity: 0; 
    animation: fadeInPrevious 1s forwards;
}

.delay-1s 
{
    animation-delay: 1s;
}

.delay-2s 
{
    animation-delay: 2s;
}

.delay-3s 
{
    animation-delay: 3s;
}

.delay-4s {
    animation-delay: 4s;
}

.delay-5s {
    animation-delay: 5s;
}

.delay-6s {
    animation-delay: 6s;
}

.delay-7s {
    animation-delay: 7s;
}

.delay-8s {
    animation-delay: 8s;
}

.delay-9s {
    animation-delay: 9s;
}

.delay-10s {
    animation-delay: 10s;
}



/* 9. Go Back Btn */

.back-btn {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FF1DA5;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-left: 2%;
    margin-right: 2%;
}

.custom-margin {
    margin-bottom: 70%;
}

.navigate-btn-container {
    position: absolute;
    z-index: 1;
    width: 100%;
    top: 2%; 
}

.back-btn-svg {
    width: 100%;

    height:100%;
}

.table-img {
    width: 100vw;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);

}



/* showcards komponenten */



.game-menu {
    position: absolute;
    top: 8%;
    background-color: white;
    width: 50%;
    height: 30%;
    border: 2px solid black;
}

.previous-card-container {
    display: flex;
    font-family: "Playwrite SK";
    flex-direction: column;
    height: 100%;
    justify-content: end;
}

.ShowCards-Container {
    position: absolute;

  
    height: 100%;
}

.text-container {
    height: 100%;
}

.first-card {
    display: flex;
    flex-direction: column;
    height: 80%;
    justify-content: center;
    align-items: center;
    padding: 2%;
}

.forward-btn {
    width: 15%;
    position: absolute;
    bottom: 1%;
    right: 1%;
}

p {
    line-height: 1.4;
    margin: 0;
}

.img-small {
    width: 100%;
    align-self: center;
}

.heart-image {
    width: 6%;
    height: auto;
    object-fit: contain;
    align-self: flex-start;
    margin-top: 1%;
    margin-right: 1%;
}

.first-card-p {
    font-size: 1.5rem;
    font-family: 'Afacad';
}

.question-container {
    display: flex;
    text-align: left;
    font-size: .9rem;
    padding-left: 3%;
}

.activeplayer-header {
    font-size: 3rem;
    padding-bottom: 8%;
}


/* 9. start game */


.start-game-container 
{

    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}


.my-dialog-container
{
    z-index: 1000;
    background-color: white;
}

/* toggle menu komponent ------------------*/

.toggle-menu-container
{
    position: absolute; 
}


.container {
    position: fixed;
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-areas:
        "modal top top"
        "left middle right"
        "bottom bottom bottom";
    grid-template-columns: 1fr auto 1fr;
    grid-template-rows: 1fr auto 1fr;
   
}

.toggle-screen
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

.my-menu-modal 
{
    grid-area: modal;
    width: 200px;
    height: min-content;
    background-color: white;
    z-index: 1200;
    border-radius: 10px;
    
}

.links-container 
{
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    padding: 3%;
}

.hamburger-icon 
{
    width: 40px;
    color: white;
    background-image: radial-gradient(100% 100% at 100% 0, #FF6FCF 0, #FF1DA5 100%);
 
}



