@page "/"
@using Microsoft.AspNetCore.Components
@using OneMoreDate.Components.Reusable;
@inject NavigationManager Navigation


<div class='outer-container '>
    <div class="oval-frame">
        <img class="home-img" src="images/dateee.png" />
    </div>
    <div class="outer-btn-container">
        <button @onclick="StartGame" class="button-29 menu-start-btn "> Start game </button>
        <button @onclick="HowToPlay" class="button-29 menu-how-to-play-btn "> How to play</button>

    </div>
</div>



@code{
 

    private void StartGame()
    {
        Navigation.NavigateTo("/inputPlayerNames");
    }

    private void HowToPlay()
    {
        Navigation.NavigateTo("/howToPlay");
    }

}
