@page "/"
@using Microsoft.AspNetCore.Components
@inject NavigationManager Navigation

<div class="outer-home-container">
    <div class="inner-home-container">
        <img src="images/firstpic.png" alt="first-pic" class="home-pic" />
    </div>
</div>

@code {
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            // Vänta 3 sekunder
            await Task.Delay(3000);
            // Navigera till en annan sida
            Navigation.NavigateTo("/Menu");
        }
    }
}
