@page "/"
@using Microsoft.AspNetCore.Components
@using OneMoreDate.Components.Reusable;
@inject NavigationManager Navigation


<div class='outer-container '>

    <div class='outer-image-container fade-out '>
        <div class='inner-container  fade-out'>

            <h1 class="animate__animated animate__slideInLeft w-50 one">One</h1>
            <h1 class="animate__animated animate__slideInLeft animate__delay-1s w-60   more">more</h1>

        </div>

        <h1 class="animate__animated animate__slideInRight animate__delay-2s date">Date?</h1>

        <div class='  image-container'>

            <img src=@images[currentImageIndex] alt="logo" class="logo" />
        </div>
    </div>

    <div class='outer-image-container fade-in'>

     <div class="oval-frame">

         <img class="table-image-new" src="images/One.png"/>
     </div>
        <div class='image-container'>
            <img id="logo" src=@images[currentImageIndex] alt="logo" class="logo fade-out-after-animations" />
        </div>
    </div>





</div>


@if (showButtons)
{
    <div class="fade-in-btns ">

        <div class="outer-btn-container ">
            <div class="inner-menu-container ">
               <div class="circle-frame">
                <button @onclick="StartGame" class="button-29 menu-start-btn p-1"> Start game </button>
                <button @onclick="GoToRules" class="button-29 menu-rules-btn p-1"> Rules </button>
                </div>
              
            </div>
        </div>
    </div>

}


@code {
    private bool showLogo = false;
    private bool showButtons = false;
    private string[] images = new string[]
    {
        "images/Bild_1.png",
        "images/Bild_2.png",
        "images/Bild_3.png",
        "images/Bild_4.png",
        "images/Bild_5.png"
        };

    private int currentImageIndex = 0;
    private Timer _timer; // timer för bildbyte


    protected override async Task OnInitializedAsync()
    {
        _timer = new Timer(ChangeImage, null, 3500, 500);

    }


    private void ChangeImage(object state)
    {
        InvokeAsync(() =>
        {
            currentImageIndex = (currentImageIndex + 1) % images.Length;
            if (currentImageIndex == images.Length - 1)
            {
                _timer?.Dispose();
                showButtons = true;
                showLogo = true;
            }

            StateHasChanged();

        });
    }

    public void Dispose()
    {
        _timer?.Dispose();
    }

    private void StartGame()
    {
        Navigation.NavigateTo("/inputPlayerNames");
    }

    private void GoToRules()
    {
        Navigation.NavigateTo("/rules");
    }





}
