@using OneMoreDate.Components.Reusable;
@using OneMoreDate.Managers;
@page "/inputPlayerNames/{CurrentCount:int}"
@inject NavigationManager navigationManager;

<Background/>
  <NavigationButtons BackUrl="players"/>
<div class="outer-playernames-container">
    <div class="modal-playernames-bg rounded">
<h2>Number of players: @CurrentCount</h2>

<div class="d-flex">
@for (int i = 1; i <= CurrentCount; i++)
{
    @if (i == CurrentCount)
    {
        <input @bind="InputValue" placeholder="Participant" disabled=@isDone/>
    }
}

<button @onclick="AddPlayers" class="fw-bolder display-2 rounded m-2">+</button>
        </div>

@foreach (var name in Names)
{
     <p>@name</p>
}

@if (Names.Count == CurrentCount)
{
    <button @onclick="AddActivePlayers">Done</button>
}
        
    </div>
</div>




@code
{
    [Parameter]
    public int CurrentCount { get; set; }

    private bool isDone = false; 

    public string InputValue { get; set; }

    public List<string> Names { get; set; } = new List<string>();

    private void AddPlayers()
    {
        if (Names.Count<CurrentCount)
        {
            string newName = InputValue;
            Names.Add(newName);
            InputValue = "";
        }

        if (Names.Count==CurrentCount)
        {
            isDone = true;
        }

    }

    public void AddActivePlayers()
    {
        PlayerManager.AddActivePlayers(Names);
        //navigationManager.NavigateTo("/gamePage");
    }
}