@page "/menu";
@using OneMoreDate.Components.Reusable;
@inject NavigationManager Navigation


<div class="fade-in-btns">
    <Background />
    <div class="outer-btn-container">
        <div class="inner-menu-container">
            <button @onclick="StartGame" class="mb-4"> Start Game </button>
            <button @onclick="GoToRules"> Rules </button>
        </div>
    </div>
</div>



@code {

    private void StartGame()
    {
        Navigation.NavigateTo("/players");
    }

    private void GoToRules()
    {
        Navigation.NavigateTo("/rules");
    }


}
