@page "/menu"
@using Microsoft.AspNetCore.Components;
@using OneMoreDate.Components.Reusable;
@inject NavigationManager Navigation


<div class="animate__animated animate__fadeIn">
<div class='outer-container '>



    <div class='outer-image-container '>

        <div class="oval-frame">

            <img class="table-image-new" src="images/One.png" />
        </div>
       
    </div>





</div>



    <div class=" ">

        <div class="outer-btn-container ">
            <div class="inner-menu-container ">
                <div class="circle-frame">
                    <button @onclick="StartGame" class="button-29 menu-start-btn p-1"> Start game </button>
                    <button @onclick="GoToRules" class="button-29 menu-rules-btn p-1"> Rules </button>
                </div>

            </div>
        </div>
    </div>

</div>



@code {

    private void StartGame()
    {
        Navigation.NavigateTo("/inputPlayerNames");
    }

    private void GoToRules()
    {
        Navigation.NavigateTo("/rules");
    }


}
