@page "/menu";
@using OneMoreDate.Components.Reusable;
@inject NavigationManager Navigation



<div class="animate__animated animate__fadeIn">

<Background />
<div >
    <div class="outer-btn-container">
        <div class="inner-menu-container">
                <button @onclick="StartGame" class="mb-4 menu-start-btn"> Start Game </button>
                <button @onclick="GoToRules" class="menu-rules-btn"> Rules </button>
        </div>
    </div>
</div>

</div>



@code {

    private void StartGame()
    {
        Navigation.NavigateTo("/players");
    }

    private void GoToRules()
    {
        Navigation.NavigateTo("/rules");
    }


}
