@page "/players"
@using Microsoft.AspNetCore.Components
@using OneMoreDate.Components.Reusable;
@inject NavigationManager Navigation

<div class="outer-container-players animate__animated animate__fadeIn">
<Background/>
<GoBackButton Url="menu" />
<GoForwardBtn Url="inputPlayerNames" Count="@currentCount" IsEnabled="currentCount > 1"/>
<div class="inner-container-players modal-bg rounded">
    <h1 class="display-3">Players:</h1>
    <div class="container-players">
    <button  @onclick="DecrementCount" class="players-btn fw-bolder display-2 bg-light rounded"> - </button>
      <h1 >@currentCount</h1>
            <button @onclick="IncrementCount" class="players-btn fw-bolder display-2 bg-light rounded"> + </button>
    </div>
</div>
</div>

@code 
{
  
    private int currentCount = 0;

   
    private void IncrementCount()
    {
        currentCount++;
    }

    private void DecrementCount()
    {
        if (currentCount!=0)
        {
            currentCount--;
        }
        
    }
}