@page "/players"
@using Microsoft.AspNetCore.Components
@using OneMoreDate.Components.Reusable;
@inject NavigationManager Navigation

<div class="outer-container-players animate__animated animate__fadeIn">
<Background/>
<GoBackButton Url="menu" />
<div class="inner-container-players modal-bg rounded">
    <h1 class="display-3">Players:</h1>
    <div class="container-players">
    <a  @onclick="DecrementCount"> <img src="./images/addbtn.png" alt="btn" class="operator-btn"/></a>
      <h1 >@currentCount</h1>
     <a @onclick="IncrementCount"> <img src="./images/minusbtn.png" alt="btn" class="operator-btn"/></a>
    </div>
   
</div>
</div>

@code 
{
  
    private int currentCount = 0;

   
    private void IncrementCount()
    {
        currentCount++;
    }

    private void DecrementCount()
    {
        currentCount--;
    }
}