@page "/players"
@using Microsoft.AspNetCore.Components
@using OneMoreDate.Components.Reusable
@inject NavigationManager Navigation




<div class="outer-container-players animate__animated animate__fadeIn">
    <Background />
 
    <div class="inner-container-players modal-bg rounded">
        <h1 class="display-3">Players:</h1>
        <div class="container-players">

            <button class="d-flex justify-content-center align-items-center display-2 fw-bold decrement-count-btn" @onclick="DecrementCount"> - </button>

            <h1 class="@className">@currentCount</h1>

            <button class=" d-flex justify-content-center align-items-center fw-bold display-2 increment-count-btn" @onclick="IncrementCount"> + </button>
        </div>
    </div>
       <NavigationButtons BackUrl="menu" ForwardUrl="inputPlayernames" Count="@currentCount"/>
</div>
 

@code {
    private int currentCount = 2;
    private string className = "";

    private async void IncrementCount()
    {
        if (currentCount < 10)
        {
            currentCount++;
            className = "animate__animated animate__bounceIn animate_faster"; // Exempel på annan animation vid increment
            StateHasChanged();
            await Task.Delay(500); // Vänta på att animeringen ska slutföras
            className = ""; // Återställ klassnamnet efter animeringen
            StateHasChanged();
        }

        if (currentCount ==10)
        {
            className = "animate__animated animate__shakeX text-danger";
            StateHasChanged();
            await Task.Delay(500); // Vänta på att animeringen ska slutföras
            className = ""; // Återställ klassnamnet efter animeringen
            StateHasChanged();
        }
    }

    private async void DecrementCount()
    {
        if (currentCount == 2)
        {
            className = "animate__animated animate__shakeX text-danger";
            StateHasChanged();
            await Task.Delay(500); // Vänta på att animeringen ska slutföras
            className = ""; // Återställ klassnamnet efter animeringen
            StateHasChanged();
        }

        if (currentCount >= 3)
        {
            currentCount--;
            className = "animate__animated animate__bounceIn animate_faster"; // Exempel på annan animation vid increment
            StateHasChanged();
            await Task.Delay(500); // Vänta på att animeringen ska slutföras
            className = ""; // Återställ klassnamnet efter animeringen
            StateHasChanged();
        }
    }
}
