@page "/players"
@using Microsoft.AspNetCore.Components
@using OneMoreDate.Components.Reusable;
@inject NavigationManager Navigation

<div class="vh-100 d-flex justify-content-center align-items-center animate__animated animate__fadeIn">
<Background/>
<div class="d-flex justify-content-center flex-column align-items-center text-center modal-bg rounded">
    <h2 class="display-3">Players:</h2>
    
    <div class="vw-100 d-flex justify-content-around align-items-center">
    <button class="addBtn" @onclick="DecrementCount">-</button>
            <h1>@currentCount</h1>
     <button class=" removeBtn" @onclick="IncrementCount">+</button>
    </div>
    <GoBackButton Url=""/>
</div>
</div>

@code 
{
  
    private int currentCount = 0;

   
    private void IncrementCount()
    {
        currentCount++;
    }

    private void DecrementCount()
    {
        currentCount--;
    }
}