@page "/deck"
@using OneMoreDate.Managers;
@using OneMoreDate.Models;
@using OneMoreDate.Components.Reusable;
@inject NavigationManager Navigation



@if (showModal)
{
   
    <DeckModal Description=@deckDescription DeckHeader=@deckHeader CloseButton ="closeBtn" btnClick="clickButton" ButtonDescription=@buttonDescription/>
    
}
<div class="my-decks-container mb-4 text-center animate__animated animate__fadeIn mt-4 rounded">

        <div class="select-deck-container" @onclick="()=>selectDeck(1)" >
        <img src="./images/deck.png" alt="deck" class="img-smaller" />
     <h4>The trial Deck</h4>
    </div>

    <div class="select-deck-container" @onclick="()=>selectDeck(2)">
        <img src="./images/partydeck.png" alt="deck" class="img-smaller" />
          <h4>The original Deck</h4>
    </div>


    <div class="select-deck-container" @onclick="()=>selectDeck(3)">
        <img src="./images/naughtydeck.png" alt="deck" class="img-smaller" />
           <h4>The naughty Deck </h4>
        </div>

    
</div>
<button @onclick="GoBack">  <img src="./images/backbtn.png" alt="btn" class="back-btn" /> </button>

@code {
    private string buttonDescription{ get; set; }
    private string deckHeader;
    private bool showModal = false;
    private string deckDescription;

    private void GoToGame()
    {
        Navigation.NavigateTo("/game");
    }

    private void GoBack()
    {
        Navigation.NavigateTo($"/inputPlayerNames");
    }

    private void selectDeck(int deckId)
    {

        if (deckId == 1)
        {
            deckHeader = "Trial Deck";
            deckDescription = "Ready to dive into the excitement of our game but not sure where to start? The trial game is perfect for newcomers, this deck lets you experience the thrill and strategy of our gameplay without any commitment.";
            buttonDescription = "PLAY";
        }


        else if (deckId == 2)
        {
            deckHeader = "The Original Deck";
            deckDescription="BLABLABLA";
            buttonDescription="Purchase";
        }

        else if (deckId ==3)
        {
            deckHeader = "The Naughty Deck";
            deckDescription = "BLABLABLA";
            buttonDescription = "Purchase";
        }


        showModal = true;
    }

    private void closeBtn()
    {
        showModal = false;
    }

    private void clickButton()
    {
        if(buttonDescription == "PLAY")
        {
            Navigation.NavigateTo("/game");
        }

       
        if (buttonDescription =="Purchase")
          {
                
          }
      
    }

}
