@page "/deck"
@using OneMoreDate.Managers;
@using OneMoreDate.Models;
@using OneMoreDate.Components.Reusable;
@inject NavigationManager Navigation

@if (showModal)
{
   
      <div class="overlay-background" @onclick="closeBtn"></div>
    <div class="deck-modal-inner-container">
        <DeckModal CloseButton="closeBtn"  DeckNumber =@deckNumber AddAnimationClass=@addAnimationClass />
    </div>
}

<GoBackBtn BackUrl="menu" />


<div class="my-decks-container mb-4 text-center animate__animated animate__fadeIn animate__slower rounded">

        <div class="select-deck-container " @onclick="()=>selectDeck(1)" >
        <img src="./images/deck.png" alt="deck" class="img-smaller" />
     <h4 class="deck-header">The Trial Deck</h4>
    </div>

    <div class="select-deck-container" @onclick="()=>selectDeck(2)">
        <img src="./images/partydeck.png" alt="deck" class="img-smaller" />
          <h4 class="deck-header">The Original Deck</h4>
    </div>

    <div class="select-deck-container" @onclick="()=>selectDeck(3)">
        <img src="./images/naughtydeck.png" alt="deck" class="img-smaller" />
           <h4 class="deck-header">The Naughty Deck </h4>
        </div>

    
</div>


@code {
    private string addAnimationClass = "";


    private bool showModal = false;
  
    private int deckNumber;



    private void GoBack()
    {
        Navigation.NavigateTo($"/startGame");
    }

    private void selectDeck(int deckId)
    {
        addAnimationClass = "animate__animated animate__fadeIn";

        deckNumber = deckId;
        showModal = true;
    
    }

    private void closeBtn()
    {
        showModal = false;
        addAnimationClass = "";
    }

   

}
