﻿

<style>

    .logo-img
    {
        width:20%;
    }


    .background-image
    {
       position: absolute;
       z-index: -1;
     
 
       top: 2%;

    }

    .logo-image-container{
        
    }

    

</style>

<div class='background-image'>
    <div class="logo-image-container">
      <img class="logo-img" src='./images/Bild_5.png' alt="logo"/>
    </div>
</div>

@code {

}
