﻿

<style>

    .background-image
    {
       position: absolute;
       z-index: -1;
       width: 100vw;
       height: 100vh; 
       top: 31%;
       opacity: .1;
    }

    

</style>

<div class='background-image'>
    <div class="image-container">
      <img src='./images/Bild_5.png' alt="logo"/>
    </div>
</div>

@code {

}
