

<style>

    .deck-modal 
    {
       
        position: fixed;
        width:85%;
        top: 40%;
        border-radius: 45px;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: #FF1DA5;
        z-index: 1000;
    }

    .full-width-btn
    {
        width: 100%; 
        background-color: rgba(180, 29, 100, 0.7);
        border: none;

    }
</style>


<div class="deck-modal rounded @AddAnimationClass">

    <div class="deck-modal-btn-container">
    <button type="button" class=" btn-close small " aria-label="Close" @onclick=CloseButton></button>
    </div>
    <div class="deck-modal-inner-container"
 <h2 class="fw-bold clear-font text-white" >@DeckHeader</h2>
    <p class="clear-font text-white">@Description</p>
    <button @onclick=btnClick class="text-white rounded full-width-btn fs-2">@ButtonDescription</button>
    </div>
</div>

@code
{
    [Parameter]
    public string ButtonDescription{ get; set; }
    [Parameter]
    public string DeckHeader{ get; set; }
    [Parameter]
    public string Description { get; set; }

    [Parameter]
    public string AddAnimationClass { get; set; }

    [Parameter]
    public EventCallback CloseButton{ get; set; }

    [Parameter]
    public EventCallback btnClick{ get; set;  }
}