@inject NavigationManager Navigation


<button @onclick="GoBack">  Go back </button>


@code
{

    [Parameter]
    public string Url { get; set; }

    private void GoBack()
    {
        Navigation.NavigateTo($"/{Url}");
    }

}

