

<style>


    .the-card-container 
    {
        position: relative;
        width: 16rem;
        height: auto; 
        z-index: -1;
   
   
    }

    .the-card {
        width: 100%;
        display: block;
    }

    .card-question 
    {
        position: absolute;
        
        top: 32%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 90%;
        text-align: center;
    }

    .outer-card-container
    {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 70vh; 
        
    }
</style>



<div class="outer-card-container">
    <div class="the-card-container">
        <img src="./images/card.png" alt="card" class="the-card rounded @Animation" />
        <p class="card-question">@Question</p>
    </div>
</div>

@code {
    [Parameter]
    public string Question { get; set; }
    [Parameter]
    public string Animation { get; set; }
}


