

<style>


    .the-card-container 
    {
        position: relative;
        width: 10rem;
        height: auto; 
        z-index: 11; 
   
    }

    .the-card {
        width: 100%;
        display: block;
    }

    .card-question {
        position: absolute;
        z-index: -1;
        top: 32%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 90%;
        text-align: center;
    }
</style>



<div class="d-flex justify-content-center align-items-center">
    <div class="the-card-container">
        <img src="./images/card.png" alt="card" class="the-card rounded @Animation" />
        <p class="card-question">@Question</p>
    </div>
</div>

@code {
    [Parameter]
    public string Question { get; set; }
    [Parameter]
    public string Animation { get; set; }
}


